@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>People's Solution </p>
<p>Our Vision:Being resourceful and influential in the global land business.</p>
<p>Our Mission: Deliver innovative solutions to our clients with a team of cohesive land professionals focused on building lasting relationships.
</p>
