@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People's Solution</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Happy Customers</h2>
        <p><img src="https://reqres.in/img/faces/11-image.jpg"></p>
        <p>George Edwards</p>
        <p>email: "george.edwards@reqres.in"</p>
        <p>ID is 11</p>
    </div>
    
</div>

