@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People's Solution</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Happy Customers</h2>
        <p><img src="https://reqres.in/img/faces/11-image.jpg"></p>
        <p>George Edwards</p>
        <p>email: "george.edwards@reqres.in"</p>
        <p>ID is 11</p>
    </div>
    <div class="col-md-4">
        <p><img src="https://reqres.in/img/faces/7-image.jpg"></p>
        <p>Michael Lawson</p>
        <p>email: "michael.lawson@reqres.in"</p>
        <p>ID is 7</p>
    </div>
    <div class="col-md-4">
        <p><img src="https://reqres.in/img/faces/8-image.jpg"></p>
        <p>Lindsay Ferguson</p>
        <p>email: "lindsay.ferguson@reqres.in"</p>
        <p>ID is 8</p>
    </div>

</div>    
<div class="col">
    <div class="col-md-4">
        <p><img src="https://reqres.in/img/faces/9-image.jpg"></p>
        <p>Tobias Funke</p>
        <p>email: "tobias.funke@reqres.in"</p>
        <p>ID is 9</p>
    </div>
    <div class="col-md-4">
        <p><img src="https://reqres.in/img/faces/10-image.jpg"></p>
        <p>Byron Fields</p>
        <p>email: "byron.fields@reqres.in"</p>
        <p>ID is 10</p>
    </div>
    <div class="col-md-4">
        <p><img src="https://reqres.in/img/faces/12-image.jpg"></p>
        <p>Rachel Howell</p>
        <p>email: "rachel.howell@reqres.in"</p>
        <p>ID is 12</p>
    </div>
</div>

