@model ReadJSONusingCsharp.Models.JSONModel.Rootobject
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People's Solution</h1>
    <p class="lead">Solutions which helps you achive your targets </p>
</div>

<div class="row">
   
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Follow the link to Happy Customers of People's Solutions</p>
        <p><a class="btn btn-default" href="https://reqres.in/api/users">Learn more &raquo;</a></p>
        <p>first_name : @Model.first_name</p>
        <p>email : @Model.email</p>
        <p>id : @Model.id</p>

    </div>
    
</div>

